

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.5s;
    padding-top: 25px;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.logo {
    font-size: 3rem;



}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
}
.nav-mob-open{
    display : none;
}



@media (max-width: 768px) {
    .navbar {
        margin: 20px 50px;
    }
    .nav-connect {
        display: none;
    }
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
        top: 20px;
        padding-top: 17px;
        
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items:first baseline;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 300px;
        height: 100%;
        z-index: 999;
        transition: right 0.5s;
        right: -350px;
        justify-content :flex-start; 
        padding-top: 50px;
        padding-left: 60px;
        
    }
    .nav-menu li {
        font-size: 30px;
        flex-direction: row;
        gap: 20px;
    }
    .nav-mob-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        z-index: 1000;
        cursor: pointer;
    }
}

